# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Build / Packaging (PyInstaller)
# =========================
build/
dist/
*.spec

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.temp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/

# =========================
# Optional: test / debug files
# =========================
test_*.pdf
debug/